@tailwind base;
@tailwind components;
@tailwind utilities;

/* 학교안심 둥근미소 R */
@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-R";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* 학교안심 둥근미소 B */
@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 넥슨 폰트 */
@font-face {
  font-family: "NEXON Lv1 Gothic OTF Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

/* 기본적인 스타일을 정의 */
@layer base {
  body {
    @apply font-nexon;
  }
}

/* 재사용 가능한 컴포넌트 스타일을 정의 */
@layer components {
  .font-school-regular {
    font-family: "HakgyoansimDunggeunmisoTTF-R", sans-serif;
    font-weight: 400;
  }
  .font-school-bold {
    font-family: "HakgyoansimDunggeunmisoTTF-B", sans-serif;
    font-weight: 700;
  }
  .font-nexon-light {
    font-family: "NEXON Lv1 Gothic OTF Light", sans-serif;
    font-weight: 300;
  }
  .font-nexon-regular {
    font-family: "NEXON Lv1 Gothic OTF Regular", sans-serif;
    font-weight: 400;
  }
  .font-nexon-bold {
    font-family: "NEXON Lv1 Gothic OTF Bold", sans-serif;
    font-weight: 700;
  }
}

/* 유틸리티 클래스를 정의 */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* textarea 스크롤바 커스텀*/
textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 9999px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #ababab;
}

/*------------------- date picker 커스텀 --------------------*/
.react-datepicker {
  @apply border-none bg-transparent;
}

.react-datepicker .react-datepicker__header {
  @apply bg-white;
}
.react-datepicker__month-container {
  @apply border-none bg-transparent;
}

/* 캘린더 전체 컨테이너 스타일 */
.custom-calendar {
  @apply size-full border-none bg-transparent;
}

/* 개별 날짜 스타일 */
.custom-day {
  @apply rounded-full hover:bg-background-100 focus:outline-none;
}

/* 선택된 날짜 스타일 */
.react-datepicker__day--selected {
  @apply rounded-full bg-primary-orange-300 font-medium text-gray-50;
}

/* 범위 내의 날짜 스타일 */
.react-datepicker__day--in-range {
  @apply bg-primary-orange-50;
}

/* 요일 헤더 스타일 */
.react-datepicker__day-name {
  @apply font-medium text-gray-500;
}

/* 현재 달이 아닌 날짜 스타일 */
.react-datepicker__day--outside-month {
  @apply text-gray-300;
}

/* 오늘 날짜 스타일 */
.react-datepicker__day--today {
  @apply border-none border-transparent bg-transparent font-bold;
}
